@CHARSET "UTF-8";
*{
    margin:0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header {
    background: url("images/bgimage.jpg");
    height : 100vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;    
}
.nav-area{
    float : right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family:poppins;
    font-size:16px;
}
.nav-area li a:hover{
    background:#fff;
    color:#333;
}
.logo img{
	  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 50px;
    height: 50px;
}
.welcome-text{
    position: absolute;
    width: 600px;
    heignt: 300px;
    margin: 20% 30%;
    text-align:center;
}
.welcome-text h1{
    text-align: TOP;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

